* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  background: #001f3f;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.App {
  background-color: #000;
}

.section__text-heading {
  font-size: clamp(0.8rem, 1rem + 1vw, 0.8rem);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.section__text-paragraph {
  font-size: clamp(1.2rem, 1.2rem + 0vw, 1.25rem);
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 0.9em;
  text-align: left;
}

.gradient__header {
  background: linear-gradient(
    160deg,
    rgba(15, 142, 132, 1) 0%,
    rgba(14, 39, 104, 1) 100%
  );
}

.gradient__possibility {
  background: linear-gradient(305deg, rgb(15, 56, 54) 0%, rgb(4, 8, 17) 100%);
}

.gradient__text {
  background: linear-gradient(
    141deg,
    rgb(15, 112, 197) 8%,
    rgb(167, 87, 167) 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient__text-light {
  background: linear-gradient(
    141deg,
    rgb(133, 165, 192) 8%,
    rgb(179, 164, 179) 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient__cta-text {
  background: linear-gradient(141deg, rgb(63, 119, 183) 8%, rgb(9, 7, 9) 94%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1rem;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.section__margin {
  margin: 3em 5em;
}

.section__padding {
  padding: 3em 6em;
}

/*  animations*/

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* media query */
@media screen and (max-width: 550px) {
  .section__margin {
    margin: 1.5em;
  }
  .section__padding {
    padding: 2em 1.5em;
  }
}

@media screen and (min-width: 700px) {
  .section__margin {
    margin: 3em;
  }
  .section__padding {
    padding: 2em 2em;
  }
}

@media screen and (min-width: 1050px) {
  .section__margin {
    margin: 2em 3em;
  }
  .section__padding {
    padding: 3em 6em;
  }
}
